md-grid-list.shots-list{
    padding-top: 15px;
}
.shots-list .shot-teaser{
    position: relative;
    padding: 4px;
    background-color: white;
    width: 100%;
}
.shots-list .shot-teaser >img{
    width: 100%;
}
.shots-list .shot-avatar{
    margin: 8px;
}
.shots-list .shot-avatar>img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.shots-list span.animate-mark{
    position: absolute;
    padding: 2px 4px;
    margin: 4px;
    border-radius: 4px;
    background-color: darkgray;
    color: white;
    font-weight: 500;
    font-size: 8px;
}

.sort-bar{
    padding: 8px;
    position: relative;
}
.sort-bar a{
    color: darkgray;
    font-size: 14px;
    margin-right:12px;
}
.sort-bar a:last-child{
    margin-right: 0;
}
.sort-bar .sort-bar-list{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 32px;
    background-color: black;
    z-index: 21
}
.sort-bar .sort-bar-list li{
    padding: 4px 16px;
}

span.avatar-name{
    margin: 0 8px;
}
md-card.card-shot{
    /*background-color: #dddddd;*/
    box-shadow: none;
}
md-card.card-shot md-card-header{
    /*padding: 16px 8px;*/
    margin-bottom: 18px;
}
md-card.card-shot md-card-header img{
    border-radius: 50%;
}
md-card.card-shot md-card-header md-card-header-text .md-title{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 4px;
}


md-card.card-shot a{
    text-decoration: none;
    color: #3a8bbb;
}
md-card.card-shot md-card-header md-card-avatar{
    cursor: pointer;
}
md-card.card-shot md-card-actions{
    border-bottom: 1px solid #ddd;
    padding:8px;
    margin:0;
    position: relative;
}
md-card-actions .share-btn-group{
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    transition:all 0.35s ease-in;
}
md-card-actions .shot-btn-group{
    margin-top: 0;
}
md-card-actions .shot-btn-group a{
    padding: 0px 4px;
    color: darkgray;
    font-size: 14px;
}

md-card-actions .shot-btn-group i{
    font-size: 20px;
    margin-right: 8px;
    outline: none;
}

md-card.card-shot md-card-content {
    font-size: 16px;
    padding: 0px 16px;
    /*color: #555555;*/

}
.shot-content .shot-description{
    border-bottom: 1px solid #ddd;
}
.shot-content .shot-tags span{
    color: darkgray;
    font-style: italic;
}
.shot-content .shot-tags h3{
    font-weight: 500;
}

i.rebound-btnIcon{
    color: #7bbb5e;
}

md-icon.share-before{
    transition:all 0.35s ease-in;
}
md-icon.share-after{
    transform: rotate3d(0,0,1,90deg);
    transition:all 0.35s ease-in;
}
.shot-content p{
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 18px;
    overflow-x: hidden;
}

.shot-comment .c-header{
    margin: 16px;
}
.shot-comment .c-header .c-sort a{
    font-size: 14px;
    color: darkgray;
    margin-left: 14px;
    outline: none;
}
.shot-comment .c-header .c-sort a:focus{
    color: black;
}
.shot-comment .comment-box img.c-avatar{
    width: 30px;
    height:30px;
    border-radius: 50%;
    cursor: pointer;
}
.shot-comment .comment-box .c-name{
    color: black;
}
.shot-comment .comment-box .c-name:hover{
    color: #3a8bbb;
    cursor: default;
}

.shot-comment .comment-box{
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.shot-comment .comment-box div{
    margin-left: 16px;
}
.shot-comment .comment-box .c-content p{
    margin: 8px;
    font-size: 16px;
}
.shot-comment .comment-box .c-time{
    font-size: 14px;
    color: darkgray;
}