md-grid-list.shots-list{
    padding-top: 15px;
}
.shots-list .shot-teaser{
    padding: 5px;
    background-color: white
}
.shots-list .shot-teaser>img{
    width: 100%;
}
.shots-list .shot-avatar{
    margin: 8px;

}
.shots-list .shot-avatar>img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
span.avatar-name{
    margin: 0 8px;
}
md-card.card-shot{
    /*background-color:transparent;*/
}
md-card.card-shot md-card-header{
    padding: 16px 8px 20px 8px;
}
md-card.card-shot md-card-header img{
    border-radius: 50%;
}
md-card.card-shot md-card-header md-card-header-text .md-title{
    font-size: 16px;
}
md-card.card-shot a{
    text-decoration: none;
    color: #3a8bbb;
}
md-card.card-shot md-card-header md-card-avatar{
    cursor: pointer;
}
md-card.card-shot md-card-actions{
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}
md-card.card-shot md-card-content {
    font-size: 1.6rem;
    padding: 0px 16px;
    /*color: #555555;*/

}
.shot-content .shot-description{
    border-bottom: 1px solid #ddd;
}
.shot-content .shot-tags span{
    color: #555555;
    font-style: italic;
}
.md-button md-icon.rebound-btnIcon{
    color: #7bbb5e;

}
.shot-content p{
    margin-bottom: 10px;
    line-height: 24px;
}