
<div class="sort-bar" layout="row" layout-align="center center">
    <div class="sort-bar-item " ng-repeat="param in paramsArray"
         layout="column">
        <div layout="row" layout-align="center center" class="sort-bar-item-title">
            <a href="" class="sort-param" layout-fill="" ng-hide="isRecent(param['key'])">{{param['top']}}</a>
            <span layout="row" layout-align="center center" class="arrow_down">
                <i class="material-icons">keyboard_arrow_down</i>
            </span>
        </div>

        <ul ng-class="{'adapter':true}">
            <li ng-repeat="value in param['values']">
                <a href="" ng-click="resetParams(param['key'],value)">{{value}}</a>
            </li>
        </ul>
    </div>
</div>
<div infinite-scroll="nextPage()"  infinite-scroll-distance='1'
            infinite-scroll-disabled="shotsService.isPending" layout-margin
     layout="column">
    <md-grid-list md-cols="2" md-cols-xs="2" md-cols-sm="3"
                  md-cols-gt-sm="4" md-cols-md="5" md-cols-gt-md="5"
                  md-gutter="12px" md-gutter-md="12px"
                  md-row-height="4:3" md-row-height-gt-sm="1:1" class="shots-list">
        <md-grid-tile ng-repeat="shot in shotsService.shots">
            <div>
                <div layout="column" class="shot-teaser" style="">
                    <div  class="shot-teaser-content" layout="column">
                        <img ng-src="{{shot.images['teaser']}}" alt="shot"
                             src="images/loading.gif" >
                        <div class="content-intro" ng-click="goShot(shot.id)">
                            <h2>{{shot['title']}}</h2>
                            <em ng-bind-html="shot['description']"></em>
                        </div>
                    </div>
                    <!--缓冲图片-->
                    <span class="animate-mark" ng-show="shot['animated']">GIF</span>
                    <div class="shot-btn-group" hide show-gt-sm
                         layout="row" layout-align="end center">
                        <a href="" ng-hide="shot['attachments_count']==0" flex-offset="3" class="attach-file"
                           layout="row" layout-align="space-between center">
                            <i class="material-icons ">attachment</i>
                            <md-tooltip md-direction="top" md-autohide="true">
                                This shot has attachment file
                            </md-tooltip>
                        </a>
                        <a href="" layout="row" layout-align="space-between center">
                            <i class="material-icons" ng-click="toggleLike(shot)"
                               ng-class="{'shot-like':isLikeShot(shot['id'])}">
                                favorite
                            </i>
                            <md-tooltip md-direction="bottom" md-autohide="true">
                                click click
                            </md-tooltip>
                            <span>{{shot['likes_count']|number}}</span>

                        </a>
                        <a href="" layout="row" layout-align="space-between center" ng-disabled="true">
                            <i class="material-icons">remove_red_eye</i>
                            <span>{{shot['views_count']|number}}</span>
                        </a>
                        <a href="" layout="row" layout-align="space-between center" ng-disabled="true">
                            <i class="material-icons">
                                comment
                            </i>
                            <span>{{shot['comments_count']|number}}</span>
                        </a>
                    </div>
                </div>

                <div layout="row" class="shot-avatar" layout-align="start center" style="margin: 8px;" hide show-gt-sm>
                    <img ng-src="{{shot['user'].avatar_url}}" alt="user"
                         ng-click="goUser(shot['user'].id)">
                    <span class="avatar-name">{{shot['user'].name}}</span>
                    <span class="mark-pro" ng-hide="shot['user']['pro']">PRO</span>
                    <!--<span class="mark-team" ng-hide="shot['team']==null">TEAM</span>-->
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
    <div layout="row" layout-sm="column" layout-align="space-around"
         style="margin-top: 16px;background-color: #f4f4f4"
         ng-show="shotsService.isPending" class="loading-bar">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div layout="row" layout-align="center"
     ng-show="shotsService.isFinished&&!shotsService.isPending"
     ng-if="!shotsService.isEndOfShots"
     ng-click="loadMoreShots()">
    <md-button>点击加载更多......</md-button>
</div>





