<md-card  layout-fill="" class="card-shot">
    <md-card-header>
        <md-card-avatar ng-click="goUser(shot['user'].id)">
            <img ng-src="{{shot['user'].avatar_url}}" alt="user">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{shot['title']}}</span>
            <span class="md-subhead">by
                <a href="">{{shot['user'].name}}</a> on {{createTime(shot['created_at'])}}</span>
        </md-card-header-text>
    </md-card-header>
    <img ng-src="{{shot.images['hidpi']}}" alt="shot" class="md-card-image">


    <md-card-actions layout="row" layout-align="center center">

        <md-button flex="" class="md-icon-button">
            <md-icon class="material-icons rebound-btnIcon" aria-label="rebound">
                reply
            </md-icon>
        </md-button>

        <md-button flex="" ng-click="toggleLike(shot)" md-no-ink="true">
            <md-icon class="material-icons" aria-label="favorite"
                     ng-class="{'shot-like':isLikeShot(shot.id)}">
                favorite
            </md-icon>
            <span>{{shot['likes_count']}}</span>
        </md-button>

        <md-button flex="" ng-disabled="true">
            <md-icon class="material-icons"
                     aria-label="view">
                remove_red_eye
            </md-icon>
            <span>{{shot['views_count']}}</span>
        </md-button>
        <md-button flex="" ng-disabled="true">
            <md-icon class="material-icons"
                     aria-label="comment">
                comment
            </md-icon>
            <span>{{shot['comments_count']}}</span>
        </md-button>
    </md-card-actions>

    <md-card-content class="shot-content">
        <!--if don't have description-->
        <div ng-bind-html="shot['description']" class="shot-description" ng-hide="shot['description']==null">

        </div>

        <div class="shot-comment">
            <div class="c-header" layout="row" layout-align="space-between none">
                <span>{{shot['comments_count']}} responses</span>
                <div class="c-sort">
                    <a href="" ng-click="sortByOldestTime()">Oldest</a>
                    <a href="" ng-click="sortByNewestTime()">Newest</a>
                </div>
            </div>
            <div class="comment-box" ng-repeat="comment in comments"
                 layout="row">
                <img class="c-avatar" ng-src="{{comment['user']['avatar_url']}}">
                <div layout="column">
                    <span class="c-name">{{comment['user']['name']}}</span>
                    <span class="c-content" ng-bind-html="comment['body']"></span>
                    <span class="c-time">{{createTime(comment['created_at'])}}</span>
                </div>
            </div>
        </div>

        <div class="shot-tags">
            <h3>Tags</h3>
            <div layout-wrap="" layout="row">
                <span ng-repeat="tag in shot['tags']" layout-margin>
                    {{tag}}
                </span>
            </div>
        </div>
    </md-card-content>

</md-card>

